---
layout: tiger
title: Pack 818 - Claremont, CA
columnHeaders: [1,2,3,4,5,6,7,8]

scouts:

  - name: Ar
    tasks:
    - [Backyard Jungle, /,/,/,/,/,-,-,-]
    - [Games Tigers Play, /,/,/,/,/,-,-,-]
    - [Duty to God, /,/,/,/,-,-,-,-]
    - [Team Tiger, /,/,/,/,/,-,-,-]
    - [Tiger Bites, /,/,/,/,/,/,-,-]
    - [Tigers in the Wild, /,/,/,/,/,/,/,-]
    - [Tiger-iffic*, /,/,/,/,-,-,-,-]
    - ["Curiosity, Intrigue, and Magical Mysteries*", /,/,/,/,/,/,/,/]
    
  - name: Er
    tasks:
    - [Backyard Jungle, /,/,/,/,/,-,-,-]
    - [Games Tigers Play, /,/,/,/,/,-,-,-]
    - [Duty to God, /,/,/,/,-,-,-,-]
    - [Team Tiger, /,/,/,/,/,-,-,-]
    - [Tiger Bites, /,/,/,/,/,/,-,-]
    - [Tigers in the Wild, /,/,/,/,/,/,/,-]
    - [Tiger-iffic*, /,/,/,/,-,-,-,-]
    - ["Curiosity, Intrigue, and Magical Mysteries*", /,/,/,/,/,/,/,/]
    
  - name: Ev
    tasks:
    - [Backyard Jungle, /,/,/,/,/,-,-,-]
    - [Games Tigers Play, /,/,/,/,/,-,-,-]
    - [Duty to God, /,/,/,/,-,-,-,-]
    - [Team Tiger, /,/,/,/,/,-,-,-]
    - [Tiger Bites, /,/,/,/,/,/,-,-]
    - [Tigers in the Wild, /,/,/,/,/,/,/,-]
    - [Tiger-iffic*, /,/,/,/,-,-,-,-]
    - ["Curiosity, Intrigue, and Magical Mysteries*", /,/,/,/,/,/,/,/]
    
  - name: Ms
    tasks:
    - [Backyard Jungle, /,/,/,/,/,-,-,-]
    - [Games Tigers Play, /,/,/,/,/,-,-,-]
    - [Duty to God, /,/,/,/,-,-,-,-]
    - [Team Tiger, /,/,/,/,/,-,-,-]
    - [Tiger Bites, /,/,/,/,/,/,-,-]
    - [Tigers in the Wild, /,/,/,/,/,/,/,-]
    - [Tiger-iffic*, /,/,/,/,-,-,-,-]
    - ["Curiosity, Intrigue, and Magical Mysteries*", /,/,/,/,/,/,/,/]
    
  - name: Mt
    tasks:
    - [Backyard Jungle, /,/,/,/,/,-,-,-]
    - [Games Tigers Play, /,/,/,/,/,-,-,-]
    - [Duty to God, /,/,/,/,-,-,-,-]
    - [Team Tiger, /,/,/,/,/,-,-,-]
    - [Tiger Bites, /,/,/,/,/,/,-,-]
    - [Tigers in the Wild, /,/,/,/,/,/,/,-]
    - [Tiger-iffic*, /,/,/,/,-,-,-,-]
    - ["Curiosity, Intrigue, and Magical Mysteries*", /,/,/,/,/,/,/,/]
    
---
<h2>Tiger Den Tracking</h2>
<p><h4>Notes:<br><br>
Tigers must complete 6 required adventures plus an additional elective adventure.  Adventures with a * are planned for completion this year, however families are free to select any adventure to complete on their own time to satisfy this requirement.
<br><br>Completed requirements will have a date.<br>
/ indicates requirement not yet completed.<br>
  - indicates task not required for the adventure.</h4>
</p>

{% for scout in page.scouts %}

<h2> {{ scout.name }} </h2>

<table>
  
    <thead>
      <tr>
        <th scope="col">Adventure</th>
        {% for header in page.columnHeaders %}
          <th scope="col">{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
  
    <tbody>
     {% for task in scout.tasks %}
      <tr>
        {% for item in task %}
          <td scope="col"> {{ item }} </td>
        {% endfor %}
      </tr>
     {% endfor %}
    </tbody>
  
</table>

{% endfor %}
