---
layout: tiger
title: Pack 818 - Claremont, CA
columnHeaders: [1,2,3,4,5,6,7,8]

scouts:

  - name: Ar
    tasks:
    - [Backyard Jungle, /,/,/,/,/,-,-,-]
    - [Games Tigers Play, /,/,/,/,/,-,-,-]
    - [Duty to God, /,/,/,/,-,-,-,-]
    - [Team Tiger, /,/,/,/,/,-,-,-]
    - [Tiger Bites, /,/,/,/,/,/,-,-]
    - [Tigers in the Wild, /,/,/,/,/,/,/,-]
    - [Tiger-iffic*, /,/,/,/,-,-,-,-]
    - ["Curiosity, Intrigue, and Magical Mysteries*", /,/,/,/,/,/,/,/]

  - name: An(?)
    tasks:
    - [Backyard Jungle, /,/,/,/,/,-,-,-]
    - [Games Tigers Play, /,/,/,/,/,-,-,-]
    - [Duty to God, /,/,/,/,-,-,-,-]
    - [Team Tiger, /,/,/,/,/,-,-,-]
    - [Tiger Bites, /,/,/,/,/,/,-,-]
    - [Tigers in the Wild, /,/,/,/,/,/,/,-]
    - [Tiger-iffic*, /,/,/,/,-,-,-,-]
    - ["Curiosity, Intrigue, and Magical Mysteries*", /,/,/,/,/,/,/,/]

  - name: Br(1)
    tasks:
    - [Backyard Jungle (11/4), 10/30,10/30,11/4,11/2,10/30,-,-,-]
    - [Games Tigers Play, /,/,/,/,/,-,-,-]
    - [Duty to God, /,/,/,/,-,-,-,-]
    - [Team Tiger, /,/,/,/,/,-,-,-]
    - [Tiger Bites, /,/,/,/,/,/,-,-]
    - [Tigers in the Wild, /,10/30,/,10/30,/,11/4,11/4,-]
    - [Tiger-iffic*, /,/,/,/,-,-,-,-]
    - ["Curiosity, Intrigue, and Magical Mysteries*", /,/,/,/,/,/,/,/]
    
  - name: Er(3)
    tasks:
    - [Backyard Jungle (11/5), 10/21,10/21,/,11/2,10/21,-,-,-]
    - [Games Tigers Play, /,/,/,/,/,-,-,-]
    - [Duty to God, /,/,/,/,-,-,-,-]
    - [Team Tiger, /,/,/,/,/,-,-,-]
    - [Tiger Bites, /,/,/,/,/,/,-,-]
    - [Tigers in the Wild (10/19), 10/8,10/8,10/8,10/8,10/19,10/8,10/8,-]
    - [Tiger-iffic*, /,/,/,/,-,-,-,-]
    - ["Curiosity, Intrigue, and Magical Mysteries*", /,/,/,/,/,/,/,/]
    - [Family Stories*(11/2), 10/21,10/21,/,10/21,10/21,10/21,/,10/21]
    
  - name: Ev
    
  - name: Ms(3)
    tasks:
    - [Backyard Jungle (11/4), 10/21,10/21,11/4,11/2,10/21,-,-,-]
    - [Games Tigers Play, /,/,/,/,/,-,-,-]
    - [Duty to God, /,/,/,/,-,-,-,-]
    - [Team Tiger, /,/,/,/,/,-,-,-]
    - [Tiger Bites, /,/,/,/,/,/,-,-]
    - [Tigers in the Wild (10/19), 10/8,10/8,10/8,10/8,10/19,10/8,10/8,-]
    - [Tiger-iffic*, /,/,/,/,-,-,-,-]
    - ["Curiosity, Intrigue, and Magical Mysteries*", /,/,/,/,/,/,/,/]
    - [Family Stories*(11/2), 11/1,11/1,/,11/1,/,10/21,/,10/21]
    
  - name: Mt(3)
    tasks:
    - [Backyard Jungle (11/4), 10/21,10/21,11/4,11/2,10/21,-,-,-]
    - [Games Tigers Play, /,/,/,/,/,-,-,-]
    - [Duty to God, /,/,/,/,-,-,-,-]
    - [Team Tiger, /,/,/,/,/,-,-,-]
    - [Tiger Bites, /,/,/,/,/,/,-,-]
    - [Tigers in the Wild (10/19), 10/8,10/8,10/8,10/8,10/19,10/8,10/8,-]
    - [Tiger-iffic*, /,/,/,/,-,-,-,-]
    - ["Curiosity, Intrigue, and Magical Mysteries*", /,/,/,/,/,/,/,/]
    - [Family Stories*(11/2), 11/1,11/1,/,10/21,/,10/21,/,10/21]

  - name: Rh
    tasks:
    - [Backyard Jungle, 10/21,10/21,/,/,10/21,-,-,-]
    - [Games Tigers Play, /,/,/,/,/,-,-,-]
    - [Duty to God, /,/,/,/,-,-,-,-]
    - [Team Tiger, /,/,/,/,/,-,-,-]
    - [Tiger Bites, /,/,/,/,/,/,-,-]
    - [Tigers in the Wild, /,/,/,/,/,/,/,-]
    - [Tiger-iffic*, /,/,/,/,-,-,-,-]
    - ["Curiosity, Intrigue, and Magical Mysteries*", /,/,/,/,/,/,/,/]
    
---
<h2>Tiger Den Tracking</h2>
<p><h4>Notes:<br><br>
Tigers must complete 6 required adventures plus 1 additional elective adventure.  Adventures with a * are planned for completion as a den; however, families are free to select any adventure to complete on their own time to satisfy the elective requirement.
<br><br>Completed requirements will have a date.<br>
/ indicates requirement not yet completed.<br>
  - indicates task not required for the adventure.</h4>
</p>

{% for scout in page.scouts %}

<h2> {{ scout.name }} </h2>

<table>
  
    <thead>
      <tr>
        <th scope="col">Adventure</th>
        {% for header in page.columnHeaders %}
          <th scope="col">{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
  
    <tbody>
     {% for task in scout.tasks %}
      <tr>
        {% for item in task %}
          <td scope="col"> {{ item }} </td>
        {% endfor %}
      </tr>
     {% endfor %}
    </tbody>
  
</table>

{% endfor %}
