---
layout: tiger
title: Pack 818 - Claremont, CA
columnHeaders: [1,2,3,4,5,6,7,8]
adventures: [Games Tigers Play, Duty to God, Team Tiger, Tiger Bites, Tigers in the Wild, 
  Tiger-iffic, "Curiosity, Intrigue, and Magical Mysteries"]

scouts:

  - name: Ar
    tasks:
    - Backyard_Jungle: [K,x,x,x,-,-,-,-,M] 
      Games_Tigers_Play: [H,x,x,x,-,-,-,-,M]
    
  - name: Er
    bj1: X
    bj2: X
    
  - name: Ev
    bj1: X
    bj2: X
    
  - name: Ms
    bj1: X
    bj2: X
    
  - name: Mt
    bj1: X
    bj2: X
    
---

{% for scout in page.scouts %}

{{ scout.name }}

<table>
    <thead>
      <tr>
        <th scope="col">Adventure</th>
        {% for header in page.columnHeaders %}
        <th scope="col">{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
     {% for task in scout.tasks %}
     <tr>
        <td scope="col">Backyard Jungle</td>
        {% for item in task %}
           <td scope="col">{{ item }}</td>
        {% endfor %}
     </tr>
     {% endfor %}
    </tbody>
</table>

{% endfor %}
