<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} </title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/tigers">Tigers</a></li>
			<li><a href="/calendar">Calendar</a></li>
			<li><a href="/meetings">Meetings</a></li>
			<li><a href="/resources">Resources</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
      
    		{{ content }}
      
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:claremontpack818@gmail.com">Email</a></li>
        		<li><a href="https://claremontpack818cubscouts.shutterfly.com">Shutterfly</a></li>
			<li><a href="https://www.facebook.com/ClaremontCubScoutPack818/">Facebook</a></li>
			<li><a href="https://claremontpack818.wordpress.com/">WordPress</a></li>
			<li><a href="https://github.com/clare-pack818">Github</a></li>
		</ul>
		</footer>
	</body>
</html>
