<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} </title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
	<nav>
        <ul>
	        <li><a href="/tigers">Tigers</a></li>
	        <li><a href="/tigers/calendar">Calendar</a></li>
		<li><a href="/tigers/agendas">Meetings</a></li>
		<li><a href="/tigers/tracking">Tracking</a></li>
		<li><a href="/tigers/resources">Resources</a></li>
		<li><a href="/">Pack</a></li>
    	</ul>
	</nav>
		
<div class="container">
      
    		{{ content }}
      
</div><!-- /.container -->
<footer>
      <ul>
        <li><a href="mailto:leaders@pack-818.trooptrack.email">Contact</a></li>
	<li><a href="https://pack-818.trooptrack.com/">TroopTrack</a></li>
        <li><a href="https://claremontpack818cubscouts.shutterfly.com">Shutterfly</a></li>
	<li><a href="https://www.facebook.com/ClaremontCubScoutPack818/">Facebook</a></li>
	<li><a href="https://github.com/clare-pack818">Github</a></li>
	<li><a href="https://claremontpack818.wordpress.com/">WordPress</a></li>
      </ul>
</footer>
</body>
</html>
